body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px repeat(1, 700px) 100px;
  grid-template-areas: 
    "header header"
    "item-a item-b"
    "footer footer";
}

.header-container {
  grid-area: header;
  background-image:linear-gradient(155deg, #ffffff 54%, #111111 100%);
}
.left-container-a {
  grid-area: item-a;
  background-image:linear-gradient(155deg, #ec6464 54%, #111111 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-container-a  {
  grid-area: item-b;
  background-image:linear-gradient(155deg, #706ef0 54%, #111111 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-container{
  grid-area: footer;
  background-image:linear-gradient(155deg, #ffffff 54%, #111111 100%);
}

.content-leftWing{
  display: flex;
  justify-content: center;
  height:50%;
  width: 75%;
  overflow: scroll;
  text-align: center;
  background-image:linear-gradient(155deg, #ffffff 54%, #111111 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}
.button-leftWing{
 
  background-color: #ec6464;}